@font-face {
  font-family: 'Neue Haas Grotesk';
  src: url('Fonts/825424/2ba6fbd5-9c17-4733-af15-f49fbecc5c15.woff') format('woff');
  src: url('Fonts/825424/75e1af8f-1a4c-475a-8b53-f27e52822b6b.woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Neue Haas Grotesk';
  src: url('Fonts/regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Neue Haas Grotesk';
  src: url('Fonts/italic.ttf');
  font-style: italic;
}

body {
  font-family: 'Neue Haas Grotesk';
  letter-spacing: 0.1em;
  color: #000000;
  letter-spacing: 0.02em;
}

body, html {
  overflow-x: hidden;
  width: 100vw;
}

p {
  color: #000000;
  font-family: 'Neue Haas Grotesk';
}

/* Banner */
#banner {
  position: relative;
  z-index: 100;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 84vh;
  width: 90vw;
  max-width: 800px;
}

#header {
  position: relative;
}

@media (max-width: 582px){
  #banner {
    top: 100px;
  }
}

@media (min-width: 582px) and (max-width: 828px){
  #banner {
    top: 140px;
  }
}

@media (min-width: 828px) and (max-width: 1080px){
  #banner {
    top: 160px;
  }
}

@media (min-width: 1080px){
  #banner {
    top: 175px;
  }
}








/*Hitwords*/
#hitwords {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hitwords img {
  margin-bottom: 100px;
  overflow-x: hidden;
}


#landing_page {
  margin-bottom: 100px;
  max-width: 100%;
}


/* ABOUT*/
#about, #stockists {
  margin-bottom: 200px;
  display: none;
}

#about .col-10 , #stockists .col-10{
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

.text-normal {
  color: #000000;
}

.text-header {
  font-size: 2em;
}

@media (max-width: 577px){
  .text-normal {
    font-size: 0.8rem;
  }
}

@media (min-width: 577px){
  .text-normal {
    font-size: 1.7rem;
  }
}

#background {
  margin-top: 50px;
}

@media (min-width: 577px){
  .text-shop {
    font-size: 1rem;
  }
}

@media (max-width: 577px){
  .text-shop {
    font-size: 0.8rem;
  }
}



/*footer*/
.footerText , .footerTextSmall{
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-bottom: 15px;
}

.footerText {
  font-size: 1.8rem;
  color: #000000;
  margin-left: 0px;
}

.footerText:hover {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}




@media (min-width: 380px) {
  .footerTextSmall {
    font-size: 1rem;
    color: #000000;
  }
}

@media (max-width: 380px) {
  .footerTextSmall {
    font-size: 0.8rem;
    color: #000000;
  }
}


.footerTextSmall:hover {
  text-decoration: none;
  color: rgba(0,0,0,0.8);
}

.footer {
  height: 60px;
  background: rgba(0,0,0,0.7);
  -webkit-backdrop-filter:blur(4px);
  backdrop-filter: blur(4px);
}

#navbar {
  position: relative;
}


canvas {
  overflow: hidden;
  width: 100%;
}


/*SHOP*/
#shop, #hidden, #imprint {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.warenkorb p {
  margin-bottom: -37px;
  margin-right: 50px;
}

#shop img {
  max-height: 450px;
  opacity: 1;
}

#shop img:hover {
  opacity: 0.7;
}

#shop a:hover {
  text-decoration: none;
}

#shop button {
  background: #ffffff;
  color: #000000;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  min-width: 160px;
  padding: 8px 20px;
}

#shop button:hover {
  background: rgba(0,0,0,0.2);
  color: #000000;
}


/*PopUp*/
#hidden {
  display: none;
}

#hidden a {
  color: #000000;
}

.version {
  display: none;
}

.title {
  font-size: 1.2rem;
}


/*Link Underline*/
.underline:hover {
  text-decoration: none;
}

.underline {
  position: relative; display: inline-block;
}

.underline::before {
  content: '';
  position: absolute;
  z-index: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #000000;
  height: 1px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.underline:hover:before {
  right: 0 !important;
}


/* Blurry Background */
#blur {
  box-sizing: inherit;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.7);
  -webkit-backdrop-filter:blur(4px);
  backdrop-filter: blur(4px);
  display: none;
  z-index: 10;
  position: absolute;
  top: 0;
}



/* IMPRINT */
#imprint {
  display: none;
}

.margin {
  margin-top: 100px;
}

#imprint a {
  color: #000000;
}

#imprint ul li {
  color: #000000;
}

#imprint #Contact p {
  font-size: 1.2rem;
}

@media (max-width: 768px){
  #imprint p {
    font-size: 0.8rem;
  }
}

